.jpg {

    width: 100%;
    height: 70%;
    position: absolute;
}


.spotlight {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: radial-gradient(circle at center center, transparent 160px,
    rgba(0, 0, 0, 0.85) 200px);

    
}

.box {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
}

.font {
    width: 90%;
    position: fixed;
    bottom: 5%;
    left: 5%;

    animation-name: opacityfont;
    animation-delay: 0s;
    animation-duration : 5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
}
.font2 {
    width: 60%;
    position: fixed;
    bottom : 0%;
    left: 20%;

    animation-name: opacityfont2;
    animation-delay: 1s;
    animation-duration : 5s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
}


@keyframes opacityfont {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityfont2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 0;
    }
}

